@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f5f5f5;
    --text-color: #323232;

    --sidebar-bg-color: #ffffff;
    --sidebar-text-color: #323232;

    --navbar-bg-color: #ffffff;
    --navbar-text-color: #323232;
}

body {
    width: 100dvw;
    height: 100dvh;
    background: #f5f5f5;
    color: #323323;
    scroll-behavior: smooth;
}

.App {
    display: flex;
    align-items: stretch;
    scroll-behavior: smooth;
}

.app-container {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main {
    min-width: 100%;
    z-index: -1;
    margin: 2% 0;
    overflow-y: auto;
    padding: 1.5rem;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 425px) {
    .main {
        background: none;
        box-shadow: none;
    }

    .container {
        max-width: 90%;
        z-index: -1;
        padding: 5% 1rem;
    }
}

/* FONT CLASSES */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}